@font-face {
  font-family: 'm3x6';
  src: url('m3x6 (1).eot');
  src: url('m3x6 (1).eot?#iefix') format('embedded-opentype'),
       url('m3x6 (1).woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'm3x6';
  src: url('m3x6.svg#m3x6') format('svg'),
       url('m3x6.ttf') format('truetype'),
       url('m3x6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #000;
  font-family: 'm3x6';
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* for font load */
body::after {
  content: '';
}